.bottle{
    /* Box Model*/
    width: 70%;
    height: 100%;
    margin: 0 auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* Typograph*/

     /*Visual*/
}


.red_class{
    font-weight: 700;
    color:red;
}

.green_class{
    font-weight: 700;
    color: green;
}